$black: #1F201D;
$gold: #E1B269;
$red: #F38666;
$blue: #AEBBAE;
$gray: #C2BBAD;

$cream: #F9F5F0;
$orange: #E58657;
$forest: #083f3e;
$bright: #247a70;

// $black: #0E1111;
$dgray: #232828;
// $gray: #444D4F;
$lgray: #9EAFB2;
$llgray: #DEE2E2;

/* aliases */
$text: $forest;
$text-light: $bright;
$error: $red;
$primary: $orange;
$secondary: $forest;
$clickable: $bright;
$clickable-hover: lighten($bright, 20%);