$font-stack: prestige-elite-std, monospace; 
$headline: quasimoda, sans-serif; 
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headline;
	font-weight: 700;
}

h1 {
	text-transform: uppercase;
	font-size: 5em;
}