.post__main-image {
	margin-bottom: 2em;
	.portrait {
		img {
			width: 66.66%;
		}
	}
}

ul.post__image-gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 1em;
	}
	@include breakpoint(large) {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		li {
			margin-bottom: 0;
		}
	}
}